.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-start: 1.25rem;
}

/* CARDS BASE */
.person-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    font-family: 'Museo';
    font-weight: 400;
    font-size: 1.5rem;
    color: $main_color_darker;
    margin-bottom: -1rem;
    margin-inline: 2.938rem;

    &-firstname {
      display: block;
    }
  }

  &__location {
    font-family: 'League Spartan Variable';
    font-weight: 200;
    font-size: 1.188rem;
    color: $main_color_darker;
    margin-inline: 2.938rem;
  }

  &__avatar {
    img {
      width: 5.313rem;
      height: 5.313rem;
      border-radius: 50%;
      margin-inline-end: 2.938rem;
    }
  }

  &__offline {
    display: none;
  }

  &__details {
    display: none;
  }
}

/* ACTIVE */
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //background-color: $cards_bg;
}

.person-info-active {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  background-color: $cards_bg;

  &__name {
    font-family: 'Museo';
    color: $main_color_darker;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: -1rem;
    border: 1px solid #000;

    &-firstname {
      display: block;
    }
  }

  &__location {
    display: none;
  }

  &__avatar {
    display: none;
  }

  &__offline {
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan Variable';
    color: $light_black;
    margin-inline: 2.938rem;

    &-title {
      font-weight: 500;
      font-size: 2.2rem;
    }

    &-text {
      margin-block-start: -0.8rem;
      font-weight: 450;
      font-size: 1.3rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2.938rem;
    margin-block-end: 1.4rem;

    &-time {
      font-family: 'Maven Pro';
      font-weight: 600;
      font-size: 1.125rem;
      color: $light_black;

      .icon {
        margin-inline-end: 0.6rem;
      }
    }

    &-cta {
      font-family: 'League Spartan Variable';
      font-weight: 600;
      color: $cta_color;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid $cta_color;
      border-radius: 20rem;
      padding: 0.6rem 1.5rem 0.6rem 6rem;
    }
  }
}