$light_black: #353237;
$light_grey: #383838;
$main_color: #755AF1;
$main_color_darker: #4B436A;
$cta_color: #F74D1C;
$shadow_opacity: 0.2;
$desert_footer: #DBC9B7;
$blue_footer: #4BE8D2;


$padding-marge: 0 36px;